/* 設定外框樣式 */
.card {
    border: 1px solid #dee2e6; /* 外邊框 */
    border-radius: .25rem; /* 圓角邊緣 */
}

/* 設定加權指數區塊 */
.weight-index {
    border: 1px solid #dee2e6; /* 外邊框 */
    border-radius: .25rem; /* 圓角邊緣 */
    background-color: #fff; /* 背景顏色 */
    margin-bottom: 1rem; /* 下邊距 */
}

/* 漲停與跌停區塊 */
.limit-up-down {
    margin-bottom: 1rem; /* 下邊距 */
}

.limit-up, .limit-down {
    border: 1px solid #dee2e6; /* 外邊框 */
    border-radius: .25rem; /* 圓角邊緣 */
    background-color: #fff; /* 背景顏色 */
}

/* 每日公告區塊 */
.daily-announcements {
    margin-top: 1rem; /* 上邊距 */
}

.announcements-container {
    display: flex; /* 使用彈性布局 */
    flex-wrap: wrap; /* 允許換行 */
    gap: 1rem; /* 子項目之間的間距 */
}

/* 每個公告端點 */
.announcement-item {
    flex: 1 1 calc(25% - 1rem); /* 每個公告端點佔容器的 25%，並留有間距 */
    border: 1px solid #dee2e6; /* 外邊框 */
    border-radius: .25rem; /* 圓角邊緣 */
    padding: 1rem; /* 內邊距 */
    box-sizing: border-box; /* 包括邊框和內邊距在內的尺寸計算 */
    background-color: #fff; /* 背景顏色 */
    margin-bottom: 1rem; /* 下邊距 */
}

/* 設定公告標題和更多連結 */
.news-header {
    display: flex; /* 使用彈性布局 */
    justify-content: space-between; /* 內容左右對齊 */
    align-items: center; /* 垂直居中對齊 */
    margin-bottom: 1rem; /* 下邊距 */
}
