/* 上下框樣式 */
.stock-info-top, .stock-info-bottom {
    border: 1px solid #dee2e6; /* 框的邊框 */
    background-color: #f8f9fa; /* 背景色 */
    padding: 0.5rem; /* 內邊距 */
    border-radius: 0.25rem; /* 圓角邊框 */
}

/* 上下框之間沒有間隔 */
.stock-info-top {
    margin-bottom: 0; /* 上框底部沒有間隔 */
}

.stock-info-bottom {
    margin-top: 0; /* 下框頂部沒有間隔 */
}

/* 上框和下框的平行數據樣式 */
.stock-info-top .nav-detail-ohlc,
.stock-info-bottom .nav-detail-ohlc {
    display: flex;
    justify-content: space-between; /* 項目之間的間距 */
    padding: 0;
    margin: 0;
    list-style: none; /* 去掉列表樣式 */
}


/* 項目標籤的樣式 */
.nav-item i {
    font-weight: bold;
    margin-right: 8px; /* 增加間距 */
}

/* 項目值的樣式 */
.nav-item span {
    font-size: 0.875rem; /* 調整字體大小 */
}

/* 主按鈕組樣式 */
.main-button-group {
    display: flex;
    justify-content: space-between; /* 確保按鈕之間有間距 */
    margin: 20px 0;
    width: 100%; /* 確保容器佔滿寬度 */
}

.main-button-group .main-btn {
    flex: 1; /* 平均分配每個按鈕的寬度 */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 5px; /* 增加按鈕之間的間距 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.main-button-group .main-btn.btn-primary {
    background-color: #007bff; /* 藍色 */
}

.main-button-group .main-btn.btn-secondary {
    background-color: #6c757d; /* 灰色 */
}

.main-button-group .main-btn.btn-success {
    background-color: #28a745; /* 綠色 */
}

.main-button-group .main-btn:hover {
    transform: scale(1.05); /* 滑鼠懸停時放大 */
}

.main-button-group .main-btn i {
    margin-right: 8px; /* 圖標與文字之間的間距 */
}



/* 上漲和下跌顏色 */
.up {
    color: #e33; /* 紅色 */
}

.down {
    color: #28a745; /* 綠色 */
}

/* 最新交易樣式 */
.quotes-info .lasty-trade {
    position: relative;
    z-index: 2;
    padding: .875rem .75rem;
    min-width: 180px;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 1px 0 0 rgba(0, 0, 0, .3), 2px 0 0 rgba(255, 255, 255, .9);
    background: linear-gradient(90deg, #fcfcfd, #f9fafb);
    border: 1px solid #dee2e6; /* 增加邊框 */
    border-radius: 0.25rem; /* 增加圓角 */
}

.lasty-trade {
    color: #495057;
    line-height: 1.25rem;
}

.up, .up-limit {
    color: #e33 !important;
}

.down, .down-limit {
    color: #28a745 !important;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.ml-4 {
    margin-left: 1.5rem; /* 增加左邊距離 */
}
