/* styles.css */
/* 通用樣式和布局 */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container-fluid {
    max-width: 2000px;
    margin: 0 auto;
}

.chart-container {
    margin-top: 20px;
}
