{% extends 'mc/base.html' %}

{% block header %}
個股資訊
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='mc/css/stock_data.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mc/css/sd_kline_chart.css') }}">
{% endblock %}

{% block content %}

<div class="quotes-hd d-flex align-items-center justify-content-between" id="investrue-info-1">
    <div class="container">
        {% if stock_data %}
        <h2>股票代碼：{{ stock_data.code }}</h2>
        <p>股票名稱：{{ stock_data.name }}</p>
        <p>最後更新時間：{{ last_modified }}</p>

        {% elif error %}
        <p class="text-danger">{{ error }}</p>
        {% else %}
        <p>未找到資料</p>
        {% endif %}
    </div>
</div>

<!-- 上面的框 -->
<div class="stock-info-top">
    <div class="lasty-detail">
        <ul class="nav nav-detail-ohlc">
            <li class="nav-item">
                <i>開盤價</i>
                <span>{{ stock_info.get('regularMarketOpen', 'N/A') if stock_info else 'N/A' }}</span>
            </li>
            <li class="nav-item">
                <i>收盤價</i>
                <span>{{ stock_info.get('regularMarketPreviousClose', 'N/A') if stock_info else 'N/A' }}</span>
            </li>
            <li class="nav-item">
                <i>最高價</i>
                <span>{{ stock_info.get('regularMarketDayHigh', 'N/A') if stock_info else 'N/A' }}</span>
            </li>
            <li class="nav-item">
                <i>最低價</i>
                <span>{{ stock_info.get('regularMarketDayLow', 'N/A') if stock_info else 'N/A' }}</span>
            </li>
            <li class="nav-item">
                <i>成交股數</i>
                <span>{{ stock_info.volume if stock_data else 'N/A' if stock_info else 'N/A' }}</span>
            </li>
        </ul>
    </div>
</div>

<!-- 下面的框 -->
<div class="stock-info-bottom">
    <div class="lasty-detail">
        <ul class="nav nav-detail-ohlc">
            <li class="nav-item">
                <i>成交量(張)</i>
                <span>{{ stock_data.TradeVolume if stock_data else 'N/A' }}</span>
            </li>
            <li class="nav-item">
                <i>成交值(元)</i>
                <span>{{ stock_data.TradeValue if stock_data else 'N/A' }}</span>
            </li>
        </ul>
    </div>
</div>

<!-- 按鈕區域 -->
<div class="button-group">
    <button id="btn-info" class="btn btn-primary">公司基本資料</button>
    <button id="btn-trading" class="btn btn-secondary">顯示交易資訊</button>
    <button id="btn-kline" class="btn btn-success">技術分析</button>
</div>


<!-- 复选框区域，初始隐藏 -->
<div class="checkbox-group" id="date-range-options" style="display: none;">
    <div class="options-container">
        <!-- 你可以在這裡添加其他選項或內容 -->
        <div class="btn-group">
            <div class="btn" data-value="1m">1 分鐘</div>
            <div class="btn" data-value="2m">2 分鐘</div>
            <div class="btn" data-value="5m">5 分鐘</div>
            <div class="btn" data-value="15m">15 分鐘</div>
            <div class="btn" data-value="30m">30 分鐘</div>
            <div class="btn" data-value="60m">60 分鐘</div>
            <div class="btn" data-value="90m">90 分鐘</div>
            <div class="btn" data-value="1h">1 小時</div>
            <div class="btn" data-value="1d">日線</div>
            <div class="btn" data-value="5d">週線</div>
            <div class="btn" data-value="1wk">週線</div>
            <div class="btn" data-value="1mo">月線</div>
            <div class="btn" data-value="3mo">季線</div>
        </div>

        <!-- <form id="date-range-form">
            <label><input type="checkbox" name="date_range" value="30" checked> 30日</label>
            <label><input type="checkbox" name="date_range" value="60"> 60日</label>
            <label><input type="checkbox" name="date_range" value="120"> 120日</label>
            <label><input type="checkbox" name="date_range" value="180"> 180日</label>
            <button type="button" id="update-chart" class="btn btn-info">更新圖表</button>
        </form> -->
    </div>

</div>


<!-- 顯示區域 -->
<div id="display-area" style="width: 100%; height: 400px;" >
    <p>請點擊按鈕顯示不同資訊</p>
</div>


<!-- 隱藏的JSON數據 -->
<script id="stock-data-json" type="application/json">
    {{ stock_data | tojson | safe }}
</script>

<script id="stock-info-json" type="application/json">
    {{ stock_info | tojson | safe }}
</script>




{% endblock %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='mc/js/sd_company_info.js') }}"></script>
<script src="{{ url_for('static', filename='mc/js/sd_kline_chart.js') }}"></script>
<script src="{{ url_for('static', filename='mc/js/sd_trading_info.js') }}"></script>
{% endblock %}